{% extends 'absence/main.html' %}
    <title>Formulaire de saisi</title>
{% block content %}

<a href="/enseignant/index_enseignant">Index</a>
    <a href="/enseignant/ajout_enseignant">Ajout</a>

<h1>Saisie d'un nouveau enseignant </h1>

 <section>
    {% if id == None %}
        <form method="post" action="/enseignant/revu_enseignant/">
     {% else %}
       <form method="post" action="/enseignant/updaterevu_enseignant/{{id}}/">
     {% endif %}
    {% csrf_token%}
    {{form.as_p}}

      <input type="submit" value="envoyer les données"/>
       </form>
 </section>

{% endblock %}
<!-- Voici ma page Ajout comme son nom l'indique, c'est pour ajouter un film. Et c'est tout.-->