{% extends 'absence/main.html' %}

{% block content %}
    <a href="/enseignant/index_enseignant">Index</a>
    <a href="/enseignant/ajout_enseignant">Ajout</a>



<h1>Bienvenu dans la bibliothèque d'enseignant</h1>
<ol>
    {% for l in liste %}
    <li> <p class="ti">Enseignant {{l.nom}} {{l.prenom}}
                <a href="/enseignant/affiche_enseignant/{{l.idenseignants}}/">Revu</a>
            <a href="/enseignant/update_enseignant/{{l.idenseignants}}/">Modifier</a>
            <a href="/enseignant/delete_enseignant/{{l.idenseignants}}/">Supprimer</a>
          </p>
        </li>
    {% endfor %}
</ol>

{% endblock %}
