{% extends 'absence/main.html' %}

{% block content %}
    <a href="/enseignant/index_enseignant">Index</a>
    <a href="/enseignant/ajout_enseignant">Ajout</a>
    <a href="/enseignant/affiche_enseignant">Liste</a>


<h2><a href="/enseignant/ajout_enseignant/">Ajout d'un nouveau cours</a> </h2>
<ol>
    {% for l in liste %}
    <li> <p class="ti">Titre: {{l.titre}}</p>
            <p>Dans le cours de {{l.titre}} à la date {{l.date}} d'une durée de {{l.duree}}, avec l'enseignant {{l.enseignant}} de la classe {{l.classe}}
                <a href="/enseignant/affiche_enseignant/{{l.id}}/">Revu</a>
            <a href="/enseignant/update_enseignant/{{l.id}}/">Modifier</a>
            <a href="/enseignant/delete_enseignant/{{l.id}}/">Supprimer</a>
          </p>
        </li>
    {% endfor %}
</ol>

{% endblock %}
