{% extends 'absence/main.html' %}


    <title>affichage {{cours.affiche_cours}}</title>
{% block content %}

<a href="/cours/index_cours">Index</a>
    <a href="/cours/ajout_cours">Ajout</a>
    <a href="/cours/affiche_cours">Liste</a>

    <h1>Élève: {{cours.titre}}</h1>
    <h2><a class="retour" href="/cours/index_cours">Retour</a> </h2>

    <p class="ti">Dans le ou les cours de {{cours.titre}} le {{cours.date}} d'une duree de {{cours.duree}}, avec l'enseignant {{cours.enseignant}}, de la classe {{cours.classe}}</p>

        {% load static %}




{% endblock %}