{% extends 'absence/main.html' %}


    <title>affichage {{cours.affiche_cours}}</title>
{% block content %}

<a href="/cours/index_cours">Index</a>
    <a href="/cours/ajout_cours">Ajout</a>
    <a href="/cours/affiche_cours">Liste</a>

    <h1>Élève: {{absence.etudiant}}</h1>
    <h2><a class="retour" href="/absence/index">Retour</a> </h2>

    <p class="ti">{{absence.etudiant}}dans le ou les cours de {{absence.cours}} l'absence est {{absence.cat}}, et la justification est {{absence.just}}</p>

        {% load static %}




{% endblock %}