{% extends 'absence/main.html' %}
    <title>Formulaire de saisi</title>
{% block content %}

<a href="/cours/index_cours">Index</a>
    <a href="/cours/ajout_cours">Ajout</a>
    <a href="/cours/affiche_cours">Liste</a>

<h1>Saisie d'un nouveau cours </h1>
<h2><a href="/cours/index_cours">Retour à la liste des cours</a> </h2>
 <section>
    {% if id == None %}
        <form method="post" action="/cours/revu_cours/">
     {% else %}
       <form method="post" action="/cours/updaterevu_cours/{{id}}/">
     {% endif %}
    {% csrf_token%}
    {{form.as_ul}}

      <input type="submit" value="envoyer les données"/>
       </form>
  </section>

{% endblock %}
<!-- Voici ma page Ajout comme son nom l'indique, c'est pour ajouter un film. Et c'est tout.-->