{% extends 'absence/main.html' %}

{% block content %}
    <a href="/cours/index_cours">Index</a>
    <a href="/cours/ajout_cours">Ajout</a>

<h1>Bienvenu dans la bibliothèque de cours</h1>
<ol>
    {% for l in liste %}
    <li> <p class="ti">Cours: {{l.titre_cours}}</p>
            <p>Cours de {{l.titre_cours}} à la date {{l.date}}, avec l'enseignant {{l.enseignant}}, groupe {{l.classe}}
                <a href="/cours/affiche_cours/{{l.idcours}}/">Revu</a>
            <a href="/cours/update_cours/{{l.idcours}}/">Modifier</a>
            <a href="/cours/delete_cours/{{l.idcours}}/">Supprimer</a>
          </p>
        </li>
    {% endfor %}
</ol>

{% endblock %}
