{% extends 'absence/main.html' %}

{% block content %}
    <a href="/cours/index_cours">Index</a>
    <a href="/cours/ajout_cours">Ajout</a>


<h2><a href="/cours/ajout_cours/">Ajout d'un nouveau cours</a> </h2>
<ol>
    {% for l in liste %}
    <li> <p class="ti">Cours: {{l.titre}}</p>
            <p>Cours de {{l.titre}} à la date {{l.date}}, avec l'enseignant {{l.enseignant}}, groupe {{l.classe}}
                <a href="/cours/affiche_cours/{{l.id}}/">Revu</a>
            <a href="/cours/update_cours/{{l.id}}/">Modifier</a>
            <a href="/cours/delete_cours/{{l.id}}/">Supprimer</a>
          </p>
        </li>
    {% endfor %}
</ol>

{% endblock %}
