{% extends 'absence/main.html' %}


    <title>affichage {{cours.affiche_cours}}</title>
{% block content %}

<a href="/etudiant/index_etudiant">Index</a>
    <a href="/etudiant/ajout_etudiant">Ajout</a>

    <h1>Étudiant: {{etudiant.nom}}</h1>
    <h2><a class="retour" href="/etudiant/index_etudiant">Retour</a> </h2>

    <p class="ti">L'étudinat{{etudiant.nom}} {{etudiant.prenom}}, l'email est : {{etudiant.email}}, dans le groupe {{etudiant.group}}</p>
    <p>{{etudiant.photo}}</p>
        {% load static %}




{% endblock %}