{% extends 'absence/main.html' %}
    <title>Formulaire de saisi</title>
{% block content %}

<a href="/etudiant/index_etudiant">Index</a>
    <a href="/etudiant/ajout_etudiant">Ajout</a>

<h1>Saisie d'un nouveau etudiant</h1>
 <section>
    {% if id == None %}
        <form method="post" action="/etudiant/revu_etudiant/">
    {% else %}
            <form method="post" action="/etudiant/updaterevu_etudiant/{{idetudiants}}/"> -->
    {% endif %}

        {% csrf_token%}
        {{ form.as_p }}

        <input type="submit" value="envoyer les données"/>
    </form>
 </section>

{% endblock %}
