{% extends 'absence/main.html' %}


    <title>affichage {{absence.etudiant}}</title>
{% block content %}

    <h1>Élève: {{absence.etudiant}}</h1>
    <h2><a class="retour" href="/absence/index">Retour</a> </h2>

    <p class="ti">{{absence.etudiant}}dans le ou les cours de {{absence.cours}} l'absence est {{absence.cat}}.</p>

        {% load static %}

<img src="{{absence.imaurl}}">

{% endblock %}

<!-- Voici ma page Affiche des films ou on peut voir le résumer du film ainsi qu'une image de l'affiche du film.-->