{% extends 'absence/main.html' %}
    <title>centre</title>
{% block content %}

<h1> Gestion des absences </h1>


{% load static %}
<img src="https://www.qwesta.fr/image/partial/a/b/s/2face61b54d5c72fd4d077c7ea258ff0_absenceauy7X-.jpg"><br>







{% endblock %}

<!-- Voici ma page d'Accueil, le commencement d'une grande série de problèmes.

Mais résolut avec fierté et encouragement !! :)

Mon projet est d'avoir 2 Crud donc un formulaire sur des films et l'autre sur les sites de streamings où on peut aller voir ces films

-->