{% extends 'absence/main.html' %}
    <title>index</title>
{% block content %}
    <a href="/absence/index">Index</a>
    <a href="/absence/ajout">Ajout</a>

<h1> Bienvenue sur la bibliothèque des absences: </h1>

<ol>
    {% for l in liste %}
    <li> <p class="ti">{{l.etudiant}} {{l.cours}} {{l.justifie}}  </p>


            <a href="/absence/affiche/{{l.id}}/">Revu</a>
            <a href="/absence/update/{{l.id}}/">Modifier</a>
            <a href="/absence/delete/{{l.id}}/">Supprimer</a>
          </p>
        </li>
    {% endfor %}
</ol>

{% endblock %}

<!-- Voici ma page Index c'est là où sont regroupé tous les films que j'ai pu ajouter,
et aussi trois boutons pour soi afficher les détails du film soit update pour modifier les détails et un bouton pour supprimer le film.-->