<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">

{% load static %}
 <link rel="stylesheet" type="text/css" href="{%static 'css/index20.css' %}">
</head>

<body>


 <nav>
     <a href="/absence/centre">Centre</a>
     <a href="/absence/index">Absence</a>
     <a href="/cours/index_cours">Cours</a>
     <a href="/enseignant/index_enseignant">Enseignant</a>
     <a href="/etudiant/index_etudiant">Etudiant</a>
     <a href="/groupetu/index_groupetu">Groupe étudiants</a>

 </nav>

{% block content %}
{% endblock %}
</body>
</html>



<!-- Voici le main aka le squelette, c'est la où mon css ainsi que mes navigations et mon footer sont attribué.

Et grace au ''Block Content'', je peux donc transférer tout les configures du main et du css dans mes autres pages webs. :)-->